:root {
  --bodyBackground: #121212;
  --bodyTextColor: #E5E5E5;
  --headbackground: rgba(26,24,24,0.8);
  --dropShadow:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}




body{
  background: var(--bodyBackground);
  color: var(--bodyTextColor);
}
