:root {
  --bodyBackground: #121212;
  --bodyTextColor: #E5E5E5;
  --headbackground: rgba(26,24,24,0.8);
  --dropShadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  --transition: all 0.3s ease 0s;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid pink; */
}

html, body{
  height: 100%;
  overflow: auto;
}

body{
  background: var(--bodyBackground);
  color: var(--bodyTextColor);
  margin: 1px solid pink;

}
.container, .main-container {
  width: 100%;
  height: 100%;
  border: 2px solid blue;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;

}
header {
  display: flex;
  width: 100%;
  height: 66px;
  justify-content: space-between;
  background-color: var(--headbackground)
}
.logo-div, .nav-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 24px;
}
.logo {
  width: 104px;
  height: 34px;
}
.inbox {
  margin-right: 24px;
  height: 28.4px;
  width: 28.4px;


}
img {
  width: 300px;
  height: 300px;
}
